*{
    margin: 0 ;
    padding: 0;
    font-family:"Netflix Sans", 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body{
    background-color:rgba(0, 0, 0,0.9);
}
.container{
    width: 100%;
}
.topo{
    position: absolute; 
    left: 40px;
    background-color: black;
}
.imagem-topo img{
    width: 116px;
    position: absolute; 
    display: inline-block;
}
.imagem-topo:hover{
    cursor: pointer;
}
.conteudo{
    width: 100%;
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#titulo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: #fff;
    font-weight: 600;
    font-size:3.4vw;
    text-align: center;
    width: 100%;
    margin-top:70pt;
    
}
.corpo-icone{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap:wrap;
    top: 20px;
    transition:0.5s all ;
    flex-shrink: 6px;
}
.estrutura-icone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 12px;
}
.estrutura-icone img{ 
    width:150px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2px;
    border-radius: 6px;
    min-width: 40px;
}
.icone:hover{
    /* border: white solid 1px; */
    opacity:1 ;
}
.icone,#link-gerencia{
    cursor: pointer;
    transition-duration: 0.5s;
}
.icone:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
#txt-titulo{
   color: #fff;
   display: flex;
   justify-content: center;
   font-size: 18px;
   font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;  
   position: relative;
   top: 10px;
}
/*Formatando link*/
a{
    text-decoration: none;
    
}
a:link{
    opacity: 0.5;
}
a:hover{
    opacity: 1;
}
.link-icone a:link, a:visited{
    text-decoration: none;
    color: #fff;
   
}

/*Corpo gerencia*/
.corpo-gerencia{
    display:flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    position: relative;
    top:100px;
}

#link-gerencia{
    display: inline-block;
    justify-content: center;
    border: #fff solid 1px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px; 
    padding: 12px 20px;   
    width: 16%;
    margin: 0 auto;
    transition: 1s all;
    font-weight: 700;
}
#link-gerencia:hover{
    transform: scale(1.1);
    transition-duration:1s;
    
}
.marca-dagua{
    display: flex;
    width:60%;
    position: relative;
    top: 200px;
    left: 10px;
    bottom: 10px;
    opacity: 0.3;
    color: #fff;
}


