*{
    margin: 0 ;
    padding: 0;
}
body{
    background-color: #0a0a0a;
}
.container{
    width: 100%;
}
.topo{
    width: 100%;
    margin: 0 auto;
 
}
.imagem-topo{
    margin: 0px 0px 0px 45px;
    position: absolute; 
}
.imagem-topo:hover{
    cursor: pointer;
}
.conteudo{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.centralizar{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}
#titulo{
    display: block;
    width: 100%;
    color: #fff;
    font-size:3.5vw;
    line-height: 3px ;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    margin-top:80px;
    margin-bottom: 50px;
    
}
.corpo-icone{
    position: relative;
    border-radius: 10px;
    margin-top: 50px; 
    margin-left:45px;  
}
.estrutura-icone{
    display: block;
    clear:none;
    float: left;
    position: relative;
    transition:0.5s all;
    
}

.icone{
    float: left;
    border-radius: 3px;
    margin: 15px;
    clear: left;
    
}
.icone:hover{
    /* border: white solid 1px; */
    opacity:1 ;
}
.icone,#link-gerencia{
    cursor: pointer;
    transition-duration: 0.5s;
}
.icone:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#txt-titulo{
   color: #fff;
   display: block;
   text-align: center;
   font-size: 18px;
   font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;  
   text-transform: uppercase;
}
.limpar{
    clear: both;
}

/*Formatando link*/
a{
    text-decoration: none;
    
}
a:link{
    opacity: 0.5;
}
a:hover{
    opacity: 1;
}
#link-icone a:link, a:visited{
    text-decoration: none;
    color: #fff;
}


/*Corpo gerencia*/
.corpo-gerencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    margin:60px auto;
}

#link-gerencia{
    border: #fff solid 1px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    transition: 1s all;
    
    
}
#link-gerencia:hover{
    transform: scale(1.1);
    transition-duration:1s;
    border-radius: 12px;
    
}
.marca-dagua{
   opacity: 0.3;
   display: block;
   width: 30%;
   margin-left: 20px;
   margin-top: 50px;
}

#marca{
    
    color: #fff; 
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
